html {
    scroll-behavior: smooth;
    
}

body {
    background-color: white;
    font-size: 18px;
    color: black;
    max-width: 1200px;
    margin: auto;
}

.sav {
    background-color: #e0f9ff;
}

.navbar {
    background-color: #6de2fc;
    height: 3rem;
    max-width: 1200px;
    flex-direction: row;
}

.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}

p {
    text-align: justify;
}

.head {
    max-width: 1200px;
    padding: 0;
}

img {
    max-width: 600px;
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
}


@keyframes welcome {
    0% {
        opacity: 0;
        transform: translateX(-3%)
    }

    100% {
        opacity: 1;
        transform: translateX(40%);
    }
}

@keyframes welcomeColor {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

.welcome {
    font-size: 28px;
    animation-name: welcome;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    max-width: 300px;
}

.welcomeColor {
    animation-name: welcomeColor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.space {
    height: 100px;
    max-width: 100px;
}

hr {
    border: 3px solid black;
}

.content {
    margin: 20px;
}