html {
    scroll-behavior: smooth;
    
}

body {
    background-color: white;
    font-size: 16px;
    color: black;
    max-width: 1200px;
    margin: auto;
}

.sav {
    background-color: #e0f9ff;
}

.navbar {
    background-color: #6de2fc;
    height: fit-content;
    min-height: 60px;
    max-width: 1200px;
    flex-direction: row;
    margin: auto;
    padding: 0;
}

.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}

p {
    text-align: justify;
}

.head {
    max-width: 1200px;
    padding: 0;
}

img {
    max-width: 600px;
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
}


@keyframes welcome {
    0% {
        opacity: 0;
        transform: translateX(-3%);
    }

    100% {
        opacity: 1;
        transform: translateX(100%);
    }
}

@keyframes welcomeColor {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

.welcome {
    font-size: 28px;
    animation-name: welcome;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    width: fit-content;
}

.welcomeColor {
    padding-top: 30px;
    animation-name: welcomeColor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

div li {
    text-align: center;
}

.space {
    height: 30px;
    max-width: 100px;
}

hr {
    border: 3px solid black;
}

.content {
    margin: 20px;
}

.hoverka {
    background-color: #6de2fc;
    transition: background-color linear 0.5s;
}

.hoverka:hover {
    background-color: #4089ff;
    transition: background-color 1s linear;
}

.lab p {
    text-align: center;
    font-size: 30px;
}

.nameanimation {
    font-size: 18px;
    text-align: center;
    margin: auto;
    animation-name: nameAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes nameAnimation {
    0% {color: red;}
    17% {color: blue;}
    34% {color: purple;}
    51% {color: green;}
    68% {color: yellowgreen;}
    85% {color: yellow;}
    100% {color: red;}   
}